<a href="https://colab.research.google.com/github/verticalmeadows/hello-world/blob/master/Copy_of_14_File_Input_and_Output.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Handling files belongs also to the basic skills in programming, that's why this chapter was added as a completion by me (Kinga Sipos).

<!--NAVIGATION-->
< [Strings and Regular Expressions](13-Strings-and-Regular-Expressions.ipynb) | [Contents](Index.ipynb) | [Modules and Packages](15-Modules-and-Packages.ipynb) >

# File Input and Output

## Filesystem operations

Filesystem operations can be carried out by executing a normal shell command preceded by exclamation mark:

In [ ]:
!ls

Another alternative to operate files is to use the ``os`` module:

* ``os.getcwd()``- Returns the path to the current working directory.
* ``os.chdir(path)`` - Changes the current working directory to path.
* ``os.listdir(dir)`` - Returns the list of entries in directory dir (omitting ‘.’ and ‘..’)
* ``os.makedirs(path)`` - Creates a directory; nothing happens if the directory already exists. Creates all the intermediate-level directories needed to contain the leaf.
* ``os.rename(old,new)`` - Renames a file or directory from old to new.

Specific path related functions are methods of ``os.path``:

* ``os.path.exists(path)`` - Returns True if path exists.
* ``os.path.isdir(path)`` - Returns True if path is a directory. 
* ``os.path.isfile(path)`` - Returns True if path is a regular file.
* ``os.path.basename(path)`` - Returns the base name (the part after the last ‘/’ character)
* ``os.path.dirname(path)`` - Returns the directory name (the part before the last / character).
* ``os.path.abspath(path)`` - Make path absolute (i.e., start with a /).

## Read from a file and write to a file

### Reading from and writing to textfiles

1. The **first line** of code for processing a text file usually looks like this:

`with open(filename, mode) as stream:` - which prepares the file for processing.

Mode is one of ``'r'``, ``'w'`` or ``'a'`` for reading, writing, appending. You can add a ‘+’ character to enable read+write (other effects being the same).

`stream = open(filename, mode)` is equivalent to the first line of the previous code, the difference is that `with` ensures that the file is closed after the desired operation is carried out, otherwise one should close the file explicitely by the `stream.close()` command.

2. a) If the chosen processing mode is read, the **second line** can be something like

`content = stream.read()` - which returns the whole content of a file as a multiline string

or

`content = stream.readlines()` - which returns the content of the file as a list of one line strings
    
or 

`for line in stream:` - which reads the lines of file line by line.

2. b) If the chosen processing is write, the **second line** can be 

`stream.write(text)`

### Exercise

As an exercise we will create a file with the haikus from the previous chapter.

In [ ]:
mytext = """WORKSHOP HAIKU
translated by Éva Antal

Perhaps do not even touch it.
Just look at it, look at it,
until it becomes beautiful.

 

TEST QUESTION FOR EVERY DAY
translated by Éva Antal

Do you still see
what you look at, or you only
know: "there" "it" "is"?

 

FROM THE BEST OF INTENTIONS
translated by Gábor G. Gyukics and Michael Castro

fall asleep;
die the same way a child
bites into an apple.

 

MEETING
translated by Gábor G. Gyukics and Michael Castro

I plan it as a farewell

 

THE HAIKU
translated by Tamás Révbíró

in front of my feet
a bird sat, and then took flight.
Now I'm heavier.

 

AXIOM
translated by Tamás Révbíró

You should try and help
everything to be the way
it is anyway.

 

ECHO ON EPICTETUS
translated by Tamás Révbíró

Don't say, "I lost it",
about anything. Rather
say, "I gave it back".

 

AXIOM
translated by Tamás Révbíró

Parents and killers:
almost-innocent servants.
They just execute.

 

ZENsation
translated by Tamás Révbíró

Look, the snow gives body to the wind!

 

DISILLUSIONIST
translated by Tamás Révbíró

Why should I travel
when I can be a stranger
right here, standing still?"""

In [ ]:
with open('Haikus.txt', 'w') as outstream: # outstream is the alias, kind of like a variable
    outstream.write(mytext)

One can check whether the file is closed.

In [ ]:
outstream.closed # check if it is closed

Now let's read the first two lines from the created file.

In [ ]:
with open('Haikus.txt', 'r') as instream:
    print(instream.readline())
    print(instream.readline())

This time let's read all the lines of the file into a list and print the first 6 lines.

In [ ]:
with open('Haikus.txt', 'r') as instream:
    textlines = instream.readlines() # different from readline

for i in range(6):
    print(textlines[i])

### Reading from and writing to Comma Separated Values files

Reading and writing can be performed in the same way as above.

For example one can create a CSV file by the following code:

In [2]:
import csv

with open('employee_file.csv', mode='w') as employee_file:
    employee_writer = csv.writer(employee_file, delimiter=',', quotechar='"', quoting=csv.QUOTE_MINIMAL)

    employee_writer.writerow(['John Smith', 'Accounting', 'November', '27'])
    employee_writer.writerow(['Erica Meyers', 'IT', 'March', '31'])

or with the following code:

In [5]:
import csv

with open('employee_file2.csv', mode='w') as csv_file:
    fieldnames = ['emp_name', 'dept', 'birth_month', 'age']
    writer = csv.DictWriter(csv_file, fieldnames=fieldnames)

    writer.writeheader()
    writer.writerow({'emp_name': 'John Smith', 'dept': 'Accounting', 'birth_month': 'November', 'age': '27'})
    writer.writerow({'emp_name': 'Erica Meyers', 'dept': 'IT', 'birth_month': 'March', 'age': 31})

Reading can be performed in the following way:

In [6]:
with open('employee_file2.csv') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    line_count = 0
    for row in csv_reader:
        if line_count == 0:
            print(f'Column names are {", ".join(row)}')
            line_count += 1
        else:
            print(f'\t{row[0]} works at {row[1]}, has birthday in {row[2]} and is {row[3]} years old.')
            line_count += 1
    print(f'Processed {line_count} lines.')

Column names are emp_name, dept, birth_month, age
	John Smith works at Accounting, has birthday in November and is 27 years old.
	Erica Meyers works at IT, has birthday in March and is 31 years old.
Processed 3 lines.

In [7]:
with open('employee_file2.csv', mode='r') as csv_file:
    csv_reader = csv.DictReader(csv_file)
    line_count = 0
    for row in csv_reader:
        if line_count == 0:
            print(f'Column names are {", ".join(row)}')
            line_count += 1
        print(f'\t{row["emp_name"]} works in the {row["dept"]} department, and was born in {row["birth_month"]}.')
        line_count += 1
    print(f'Processed {line_count} lines.')

Column names are emp_name, dept, birth_month, age
	John Smith works in the Accounting department, and was born in November.
	Erica Meyers works in the IT department, and was born in March.
Processed 3 lines.

One can import a CSV file directly as dataframe.

In [8]:
import pandas as pd # we give pandas an alias so we can refer to it as such
df = pd.read_csv('employee_file2.csv') # this is the main point, so let's use pandas module. 
print(df)

       emp_name        dept birth_month  age
0    John Smith  Accounting    November   27
1  Erica Meyers          IT       March   31

Experiment with possible methods and attributes of dataframes!

In [9]:
df.head()

       emp_name        dept birth_month  age
0    John Smith  Accounting    November   27
1  Erica Meyers          IT       March   31

In [10]:
df.describe()

             age
count   2.000000
mean   29.000000
std     2.828427
min    27.000000
25%    28.000000
50%    29.000000
75%    30.000000
max    31.000000

In [11]:
df.dtypes

emp_name       object
dept           object
birth_month    object
age             int64
dtype: object

<!--NAVIGATION-->
< [Strings and Regular Expressions](13-Strings-and-Regular-Expressions.ipynb) | [Contents](Index.ipynb) | [Modules and Packages](15-Modules-and-Packages.ipynb) >